<div style="display: flex; justify-content: center; gap: 30px; padding-bottom: 20px;">
  <figure style="text-align: center;">
    <img src="{{ .Get "src1" }}" alt="{{ .Get "alt1" }}" width="{{ .Get "width1" }}">
    <figcaption>{{ .Get "caption1" }}</figcaption>
  </figure>
  <figure style="text-align: center;">
    <img src="{{ .Get "src2" }}" alt="{{ .Get "alt2" }}" width="{{ .Get "width2" }}">
    <figcaption>{{ .Get "caption2" }}</figcaption>
  </figure>
</div>

<div style="display: flex; justify-content: center;">
  <figure style="text-align: center;">
    <img src="{{ .Get "src3" }}" alt="{{ .Get "alt3" }}" width="{{ .Get "width3" }}">
    <figcaption>{{ .Get "caption3" }}</figcaption>
  </figure>
</div>

<!--
<div style="display: flex; justify-content: center; gap: 30px;">
  <figure style="text-align: center;">
    <img src="{{ .Get "src1" }}" alt="{{ .Get "alt1" }}" width="{{ .Get "width1" }}">
    <figcaption>{{ .Get "caption1" }}</figcaption>
  </figure>
  <figure style="text-align: center;">
    <img src="{{ .Get "src2" }}" alt="{{ .Get "alt2" }}" width="{{ .Get "width2" }}">
    <figcaption>{{ .Get "caption2" }}</figcaption>
  </figure>
  <figure style="text-align: center;">
    <img src="{{ .Get "src3" }}" alt="{{ .Get "alt3" }}" width="{{ .Get "width3" }}">
    <figcaption>{{ .Get "caption3" }}</figcaption>
  </figure>
</div>
-->
